# Игнорируем временные файлы редакторов и системы
.DS_Store
Thumbs.db
*.swp
*.bak

# Игнорируем файлы настроек твоей IDE (если используешь VS Code)
.vscode/

# Если ты пользуешься какими-то локальными инструментами для тестирования
/tests/

# Игнорируем архив, который создается при локальной упаковке
*.zip